.viewPost {
  .viewPost__title {
    background: $highlight;
    margin: 0;
    padding: 3rem 0;
    text-align: center;
  }

  .viewPost__container {
    margin: 0 auto;
    width: 80%;

    .viewPost__error,
    .viewPost__message {
      background: darken($off-white, 10%);
      border-radius: 0.4rem;
      line-height: 1.4rem;
      padding: 3rem;
    }

    .viewPost__options {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin: 3rem 0;

      label {
        flex-grow: 1;
        line-height: 3.6rem;
      }

      input {
        border: none;
        border-radius: 0.4rem;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
        background: darken($off-white, 5%);
        flex-grow: 3;
        line-height: 1.4rem;
        outline: none;
        padding: 1rem;
        transition: background-color 0.2s ease-in-out 0s;
      }
    }

    .viewPost__newPost-btn {
      background: $highlight;
      border-bottom: 1rem solid darken($highlight, 10%);
      color: #000;
      display: block;
      font-weight: bold;
      margin: 0 auto;
      padding: 3rem;
      text-align: center;
      text-decoration: none;
      transition: all 0.2s ease-in-out 0s;
      width: 75%;

      &:hover {
        background: darken($highlight, 10%);
        border-bottom: 1rem solid $highlight;
      }

      &:visited {
        color: #000;
      }
    }
  }
}
