.newPost {
  .newPost__title {
    background: $highlight;
    margin: 0;
    padding: 3rem 0;
    text-align: center;
  }

  .newPost__url {
    text-align: center;
  }

  form {
    margin: 0 auto;
    width: 80%;

    .newPost__message,
    .newPost__key,
    select {
      border: none;
      border-radius: 0.4rem;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
      background: darken($off-white, 2%);
      line-height: 1.4rem;
      margin: 2rem 0;
      outline: none;
      padding: 1rem;
      transition: background-color 0.2s ease-in-out 0s;
      width: 100%;
    }

    .newPost__message:focus,
    .newPost__key:focus {
      background: white;
    }

    .newPost__message {
      margin: 3rem 0;
      resize: vertical;
      width: 100%;
    }

    .newPost__options {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      label {
        margin: 0 1.5rem;
      }
    }

    button {
      background: $highlight;
      border: none;
      border-bottom: 1rem solid darken($highlight, 10%);
      font-weight: bold;
      outline: none;
      padding: 3rem;
      transition: all 0.2s ease-in-out 0s;
      width: 100%;

      &:hover {
        background: darken($highlight, 10%);
        border-bottom: 1rem solid $highlight;
      }
    }
  }
}

@media (min-width: 1000px) {
  .newPost {
    form {
      .newPost__options {
        flex-wrap: nowrap;
        justify-content: space-between;

        .newPost__key,
        select {
          flex-grow: 2;
          width: auto;
        }
      }
    }
  }
}
