* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #F7F7F7;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  width: 100%;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

textarea {
  font-family: 'Raleway', sans-serif;
}
